body {
    margin: 0;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.basik-image {
    width: 250px;
}

.images-right-container {
    display: flex; 
    flex-direction: column;
}

.images-right-container img:nth-child(1) {
    transform: rotate(-30deg);
    width: 350px;
}

.animated {
    animation: coin_rotation infinite 15s linear;
}

.images-right-container img:nth-child(2) {
    transform: rotate(20deg);
    width: 200px;
}

.images-row {
    height: 180px;
}

.images-row > img:nth-child(1) {
    position: absolute;
    transform: rotate(30deg);
    width: 160px;
    right: 100px;
}

.images-row > img:nth-child(2) {
    position: absolute;
    transform: rotate(10deg);
    width: 100px;
    bottom: 0;
}

.images-right-container img:nth-child(4) {
    transform: rotate(-30deg);
    width: 300px;
}

.main-container {
    display: flex; 
    flex-direction: column;
    flex: 1;
    gap: 14px;;
}

.main-container a {
    color: black;
    font-size: 43px;
    font-weight: bold;
}


@keyframes coin_rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}